--
-- PostgreSQL database dump
--

\restrict 620QZrNQqc4VdyOlNyVgzUiVqupZFDRwrA8KmkukoIpQvG0rUFYgahuUFEII1bM

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: administrateur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.administrateur (
    id_id bigint NOT NULL
);


ALTER TABLE public.administrateur OWNER TO postgres;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comptes_formation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comptes_formation (
    id bigint NOT NULL,
    nom character varying(150) NOT NULL,
    departement_id character varying(10) NOT NULL,
    niveau character varying(4) NOT NULL,
    type_formation character varying(10) NOT NULL
);


ALTER TABLE public.comptes_formation OWNER TO postgres;

--
-- Name: comptes_formation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comptes_formation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comptes_formation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cours; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cours (
    id bigint NOT NULL,
    nom character varying(150) NOT NULL,
    code character varying(20) NOT NULL,
    description text,
    semestre_cible character varying(3) NOT NULL,
    date_creation timestamp with time zone NOT NULL,
    cree_par bigint NOT NULL,
    enseignant_id bigint NOT NULL
);


ALTER TABLE public.cours OWNER TO postgres;

--
-- Name: cours_etudiants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cours_etudiants (
    id bigint NOT NULL,
    cours_id bigint NOT NULL,
    etudiant_id bigint NOT NULL
);


ALTER TABLE public.cours_etudiants OWNER TO postgres;

--
-- Name: cours_etudiants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cours_etudiants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cours_etudiants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cours_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cours ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cours_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: departement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departement (
    code character varying(10) NOT NULL,
    nom character varying(100) NOT NULL
);


ALTER TABLE public.departement OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: enseignant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enseignant (
    id_id bigint NOT NULL,
    sexe character varying(1),
    departement_code character varying(10) NOT NULL
);


ALTER TABLE public.enseignant OWNER TO postgres;

--
-- Name: etudiant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.etudiant (
    id_id bigint NOT NULL,
    formation_id bigint
);


ALTER TABLE public.etudiant OWNER TO postgres;

--
-- Name: presence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.presence (
    id bigint NOT NULL,
    horodatage_scan timestamp with time zone NOT NULL,
    qr_token_utilise character varying(512) NOT NULL,
    valide boolean NOT NULL,
    etudiant_id bigint NOT NULL,
    session_id bigint NOT NULL
);


ALTER TABLE public.presence OWNER TO postgres;

--
-- Name: presence_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.presence ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.presence_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: session_cours; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session_cours (
    id bigint NOT NULL,
    date_debut timestamp with time zone NOT NULL,
    date_fin timestamp with time zone,
    qr_token character varying(512),
    qr_expiration timestamp with time zone,
    actif boolean NOT NULL,
    cours_id bigint NOT NULL,
    enseignant_id bigint NOT NULL
);


ALTER TABLE public.session_cours OWNER TO postgres;

--
-- Name: session_cours_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.session_cours ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.session_cours_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: utilisateur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilisateur (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    nom character varying(100) NOT NULL,
    prenom character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    role character varying(20) NOT NULL
);


ALTER TABLE public.utilisateur OWNER TO postgres;

--
-- Name: utilisateur_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilisateur_groups (
    id bigint NOT NULL,
    utilisateur_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.utilisateur_groups OWNER TO postgres;

--
-- Name: utilisateur_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.utilisateur_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.utilisateur_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: utilisateur_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.utilisateur ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.utilisateur_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: utilisateur_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilisateur_user_permissions (
    id bigint NOT NULL,
    utilisateur_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.utilisateur_user_permissions OWNER TO postgres;

--
-- Name: utilisateur_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.utilisateur_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.utilisateur_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: administrateur; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.administrateur (id_id) FROM stdin;
3
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comptes_formation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comptes_formation (id, nom, departement_id, niveau, type_formation) FROM stdin;
3	lience en sciences math├®matique et informatiques	INFO	S1	licence
4	licence en mecanique	ph	S1	licence
5	ISV	INFO	M1	master
6	master logiciel sur	INFO	M1	master
7	master en biometrie	Bio	M1	master
\.


--
-- Data for Name: cours; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cours (id, nom, code, description, semestre_cible, date_creation, cree_par, enseignant_id) FROM stdin;
1	ISV	Isv123	aaaaa	M1	2025-11-09 11:32:38.362888+01	3	4
4	Streams	Streams123	aaaaaaaaaaaaaaaaaaaaaaaaaaa	M1	2025-11-09 12:07:26.857955+01	3	7
\.


--
-- Data for Name: cours_etudiants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cours_etudiants (id, cours_id, etudiant_id) FROM stdin;
2	1	5
3	4	10
4	1	10
5	1	11
6	4	11
\.


--
-- Data for Name: departement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departement (code, nom) FROM stdin;
INFO	Informatique
ph	Physique
Bio	Biologie
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	comptes	utilisateur
7	comptes	departement
8	comptes	administrateur
9	comptes	etudiant
10	comptes	enseignant
11	presence	cours
12	presence	sessioncours
13	presence	presence
14	comptes	formation
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: enseignant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.enseignant (id_id, sexe, departement_code) FROM stdin;
4	F	INFO
7	\N	INFO
8	H	ph
\.


--
-- Data for Name: etudiant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.etudiant (id_id, formation_id) FROM stdin;
5	3
6	6
10	6
11	6
\.


--
-- Data for Name: presence; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: session_cours; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: utilisateur; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: utilisateur_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.utilisateur_groups (id, utilisateur_id, group_id) FROM stdin;
\.


--
-- Data for Name: utilisateur_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.utilisateur_user_permissions (id, utilisateur_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: comptes_formation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comptes_formation_id_seq', 7, true);


--
-- Name: cours_etudiants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cours_etudiants_id_seq', 6, true);


--
-- Name: cours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cours_id_seq', 5, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 11, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 23, true);


--
-- Name: presence_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.presence_id_seq', 11, true);


--
-- Name: session_cours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.session_cours_id_seq', 25, true);


--
-- Name: utilisateur_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utilisateur_groups_id_seq', 1, false);


--
-- Name: utilisateur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utilisateur_id_seq', 11, true);


--
-- Name: utilisateur_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utilisateur_user_permissions_id_seq', 1, false);


--
-- Name: administrateur administrateur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrateur
    ADD CONSTRAINT administrateur_pkey PRIMARY KEY (id_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: comptes_formation comptes_formation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comptes_formation
    ADD CONSTRAINT comptes_formation_pkey PRIMARY KEY (id);


--
-- Name: cours cours_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cours
    ADD CONSTRAINT cours_code_key UNIQUE (code);


--
-- Name: cours_etudiants cours_etudiants_cours_id_etudiant_id_d9697a12_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cours_etudiants
    ADD CONSTRAINT cours_etudiants_cours_id_etudiant_id_d9697a12_uniq UNIQUE (cours_id, etudiant_id);


--
-- Name: cours_etudiants cours_etudiants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cours_etudiants
    ADD CONSTRAINT cours_etudiants_pkey PRIMARY KEY (id);


--
-- Name: cours cours_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cours
    ADD CONSTRAINT cours_pkey PRIMARY KEY (id);


--
-- Name: departement departement_nom_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departement
    ADD CONSTRAINT departement_nom_key UNIQUE (nom);


--
-- Name: departement departement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departement
    ADD CONSTRAINT departement_pkey PRIMARY KEY (code);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: enseignant enseignant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enseignant
    ADD CONSTRAINT enseignant_pkey PRIMARY KEY (id_id);


--
-- Name: etudiant etudiant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etudiant
    ADD CONSTRAINT etudiant_pkey PRIMARY KEY (id_id);


--
-- Name: presence presence_etudiant_id_session_id_26919c39_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.presence
    ADD CONSTRAINT presence_etudiant_id_session_id_26919c39_uniq UNIQUE (etudiant_id, session_id);


--
-- Name: presence presence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.presence
    ADD CONSTRAINT presence_pkey PRIMARY KEY (id);


--
-- Name: session_cours session_cours_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_cours
    ADD CONSTRAINT session_cours_pkey PRIMARY KEY (id);


--
-- Name: session_cours session_cours_qr_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_cours
    ADD CONSTRAINT session_cours_qr_token_key UNIQUE (qr_token);


--
-- Name: utilisateur utilisateur_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_email_key UNIQUE (email);


--
-- Name: utilisateur_groups utilisateur_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur_groups
    ADD CONSTRAINT utilisateur_groups_pkey PRIMARY KEY (id);


--
-- Name: utilisateur_groups utilisateur_groups_utilisateur_id_group_id_c6678546_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur_groups
    ADD CONSTRAINT utilisateur_groups_utilisateur_id_group_id_c6678546_uniq UNIQUE (utilisateur_id, group_id);


--
-- Name: utilisateur utilisateur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_pkey PRIMARY KEY (id);


--
-- Name: utilisateur_user_permissions utilisateur_user_permiss_utilisateur_id_permissio_97ce0e73_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur_user_permissions
    ADD CONSTRAINT utilisateur_user_permiss_utilisateur_id_permissio_97ce0e73_uniq UNIQUE (utilisateur_id, permission_id);


--
-- Name: utilisateur_user_permissions utilisateur_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur_user_permissions
    ADD CONSTRAINT utilisateur_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: utilisateur utilisateur_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: comptes_formation_departement_id_3398e454; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comptes_formation_departement_id_3398e454 ON public.comptes_formation USING btree (departement_id);


--
-- Name: comptes_formation_departement_id_3398e454_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comptes_formation_departement_id_3398e454_like ON public.comptes_formation USING btree (departement_id varchar_pattern_ops);


--
-- Name: cours_code_fbc209af_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cours_code_fbc209af_like ON public.cours USING btree (code varchar_pattern_ops);


--
-- Name: cours_cree_par_7852174c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cours_cree_par_7852174c ON public.cours USING btree (cree_par);


--
-- Name: cours_enseignant_id_2d2ed240; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cours_enseignant_id_2d2ed240 ON public.cours USING btree (enseignant_id);


--
-- Name: cours_etudiants_cours_id_c321e228; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cours_etudiants_cours_id_c321e228 ON public.cours_etudiants USING btree (cours_id);


--
-- Name: cours_etudiants_etudiant_id_4ebec8a6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cours_etudiants_etudiant_id_4ebec8a6 ON public.cours_etudiants USING btree (etudiant_id);


--
-- Name: departement_code_7d1779ea_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX departement_code_7d1779ea_like ON public.departement USING btree (code varchar_pattern_ops);


--
-- Name: departement_nom_4012b9f7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX departement_nom_4012b9f7_like ON public.departement USING btree (nom varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: enseignant_departement_code_0719fd43; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX enseignant_departement_code_0719fd43 ON public.enseignant USING btree (departement_code);


--
-- Name: enseignant_departement_code_0719fd43_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX enseignant_departement_code_0719fd43_like ON public.enseignant USING btree (departement_code varchar_pattern_ops);


--
-- Name: etudiant_formation_id_b5978083; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX etudiant_formation_id_b5978083 ON public.etudiant USING btree (formation_id);


--
-- Name: presence_etudiant_id_e8f1b892; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX presence_etudiant_id_e8f1b892 ON public.presence USING btree (etudiant_id);


--
-- Name: presence_session_id_a381b405; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX presence_session_id_a381b405 ON public.presence USING btree (session_id);


--
-- Name: session_cours_cours_id_e4a5b4e0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX session_cours_cours_id_e4a5b4e0 ON public.session_cours USING btree (cours_id);


--
-- Name: session_cours_enseignant_id_d3730d85; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX session_cours_enseignant_id_d3730d85 ON public.session_cours USING btree (enseignant_id);


--
-- Name: session_cours_qr_token_307d13a0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX session_cours_qr_token_307d13a0_like ON public.session_cours USING btree (qr_token varchar_pattern_ops);


--
-- Name: utilisateur_email_ce919624_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX utilisateur_email_ce919624_like ON public.utilisateur USING btree (email varchar_pattern_ops);


--
-- Name: utilisateur_groups_group_id_f333a17e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX utilisateur_groups_group_id_f333a17e ON public.utilisateur_groups USING btree (group_id);


--
-- Name: utilisateur_groups_utilisateur_id_61ea21da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX utilisateur_groups_utilisateur_id_61ea21da ON public.utilisateur_groups USING btree (utilisateur_id);


--
-- Name: utilisateur_user_permissions_permission_id_0616051c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX utilisateur_user_permissions_permission_id_0616051c ON public.utilisateur_user_permissions USING btree (permission_id);


--
-- Name: utilisateur_user_permissions_utilisateur_id_b92b88e4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX utilisateur_user_permissions_utilisateur_id_b92b88e4 ON public.utilisateur_user_permissions USING btree (utilisateur_id);


--
-- Name: utilisateur_username_7bbe1ad4_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX utilisateur_username_7bbe1ad4_like ON public.utilisateur USING btree (username varchar_pattern_ops);


--
-- Name: administrateur administrateur_id_id_5b015d78_fk_utilisateur_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrateur
    ADD CONSTRAINT administrateur_id_id_5b015d78_fk_utilisateur_id FOREIGN KEY (id_id) REFERENCES public.utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comptes_formation comptes_formation_departement_id_3398e454_fk_departement_code; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comptes_formation
    ADD CONSTRAINT comptes_formation_departement_id_3398e454_fk_departement_code FOREIGN KEY (departement_id) REFERENCES public.departement(code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cours cours_cree_par_7852174c_fk_administrateur_id_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cours
    ADD CONSTRAINT cours_cree_par_7852174c_fk_administrateur_id_id FOREIGN KEY (cree_par) REFERENCES public.administrateur(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cours cours_enseignant_id_2d2ed240_fk_enseignant_id_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cours
    ADD CONSTRAINT cours_enseignant_id_2d2ed240_fk_enseignant_id_id FOREIGN KEY (enseignant_id) REFERENCES public.enseignant(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cours_etudiants cours_etudiants_cours_id_c321e228_fk_cours_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cours_etudiants
    ADD CONSTRAINT cours_etudiants_cours_id_c321e228_fk_cours_id FOREIGN KEY (cours_id) REFERENCES public.cours(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cours_etudiants cours_etudiants_etudiant_id_4ebec8a6_fk_etudiant_id_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cours_etudiants
    ADD CONSTRAINT cours_etudiants_etudiant_id_4ebec8a6_fk_etudiant_id_id FOREIGN KEY (etudiant_id) REFERENCES public.etudiant(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_utilisateur_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_utilisateur_id FOREIGN KEY (user_id) REFERENCES public.utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: enseignant enseignant_departement_code_0719fd43_fk_departement_code; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enseignant
    ADD CONSTRAINT enseignant_departement_code_0719fd43_fk_departement_code FOREIGN KEY (departement_code) REFERENCES public.departement(code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: enseignant enseignant_id_id_acc660e5_fk_utilisateur_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enseignant
    ADD CONSTRAINT enseignant_id_id_acc660e5_fk_utilisateur_id FOREIGN KEY (id_id) REFERENCES public.utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: etudiant etudiant_formation_id_b5978083_fk_comptes_formation_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etudiant
    ADD CONSTRAINT etudiant_formation_id_b5978083_fk_comptes_formation_id FOREIGN KEY (formation_id) REFERENCES public.comptes_formation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: etudiant etudiant_id_id_edcde6fc_fk_utilisateur_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etudiant
    ADD CONSTRAINT etudiant_id_id_edcde6fc_fk_utilisateur_id FOREIGN KEY (id_id) REFERENCES public.utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: presence presence_etudiant_id_e8f1b892_fk_etudiant_id_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.presence
    ADD CONSTRAINT presence_etudiant_id_e8f1b892_fk_etudiant_id_id FOREIGN KEY (etudiant_id) REFERENCES public.etudiant(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: presence presence_session_id_a381b405_fk_session_cours_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.presence
    ADD CONSTRAINT presence_session_id_a381b405_fk_session_cours_id FOREIGN KEY (session_id) REFERENCES public.session_cours(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: session_cours session_cours_cours_id_e4a5b4e0_fk_cours_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_cours
    ADD CONSTRAINT session_cours_cours_id_e4a5b4e0_fk_cours_id FOREIGN KEY (cours_id) REFERENCES public.cours(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: session_cours session_cours_enseignant_id_d3730d85_fk_enseignant_id_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_cours
    ADD CONSTRAINT session_cours_enseignant_id_d3730d85_fk_enseignant_id_id FOREIGN KEY (enseignant_id) REFERENCES public.enseignant(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: utilisateur_groups utilisateur_groups_group_id_f333a17e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur_groups
    ADD CONSTRAINT utilisateur_groups_group_id_f333a17e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: utilisateur_groups utilisateur_groups_utilisateur_id_61ea21da_fk_utilisateur_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur_groups
    ADD CONSTRAINT utilisateur_groups_utilisateur_id_61ea21da_fk_utilisateur_id FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: utilisateur_user_permissions utilisateur_user_per_permission_id_0616051c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur_user_permissions
    ADD CONSTRAINT utilisateur_user_per_permission_id_0616051c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: utilisateur_user_permissions utilisateur_user_per_utilisateur_id_b92b88e4_fk_utilisate; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur_user_permissions
    ADD CONSTRAINT utilisateur_user_per_utilisateur_id_b92b88e4_fk_utilisate FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 620QZrNQqc4VdyOlNyVgzUiVqupZFDRwrA8KmkukoIpQvG0rUFYgahuUFEII1bM

